<div class="contBody">
    <div class="contParent">
        <div class="parent">
            <div class="div1">
                Elija donde quiere ingresar
            </div>
            <div class="div2">
                <button routerLink="/rectorado">
                    Cargar Datos Genéricos Facultad</button>
            </div>
            <div class="div3">
                <button routerLink="/rectorado">
                    Cargar Actividad</button>
            </div>
            <div class="div4">
                <button routerLink="/rectorado">
                    Ver informes</button>
            </div>
        </div>
    </div>
</div>