<app-nav></app-nav>
<div class="contBody">
    <div class="contParent">
        <div class="parent">
            <div class="div1">
                Elija donde quiere ingresar (redirecciona a rectorado)
            </div>
            <div class="div2">
                <button routerLink="rectorado">
                    Facultad de Derecho</button>
            </div>
            <div class="div3">
                <button routerLink="rectorado">
                    Facultad de Educación</button>
            </div>
            <div class="div4">
                <button routerLink="rectorado">
                    Facultad de Ciencias Económicas</button>
            </div>
            <div class="div5">
                <button routerLink="rectorado">
                    Facultad de Filosofía</button>
            </div>
            <div class="div6">
                <button routerLink="rectorado">
                    Facultad de Ciencias Médicas</button>
            </div>
            <div class="div7">
                <button routerLink="rectorado">
                    Facultad de Alimentación</button>
            </div>
            <div class="div8">
                <button routerLink="rectorado">
                    Escuela de Seguridad</button>
            </div>
            <div class="div9">
                <button routerLink="rectorado">
                    Escuela de Formación </button>
            </div>
            <div class="div10">
                <button color="primary" routerLink="rectorado">
                    Sec. Extensión Rectorado (WORK) </button>
            </div>
        </div>
    </div>
</div>